header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin: 50px auto;

  .header-title {
    text-align: center;

    h1 {
      @include title;
      margin: 50px auto;
      font-weight: 400;
    }

    p {
      text-align: justify;
      line-height: 1.5rem;
      width: 70%;
      margin: 0 auto;
    }
  }

  img {
    width: 100%;
    margin: 0 auto;
  }
}