* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "allura";
  src: url("../fonts/Allura-Regular.ttf"); }
@font-face {
  font-family: "roboto-light";
  src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: "poppins-medium";
  src: url("../fonts/Poppins-Medium.ttf"); }
body {
  font-family: "Roboto-Light", sans-serif;
  background: #000; }

a {
  text-decoration: none;
  color: #fff; }

li {
  list-style: none; }

header {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 80vh;
  margin: 40px auto;
  width: 90%; }
  header .header-img {
    background: url(../img/banner.jpg) center/cover;
    margin: 0 30px;
    animation: imgAnim 5s linear 0s 1; }
@keyframes imgAnim {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
  header .header-title {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: titleSlideIn 4s linear 0s 1; }
@keyframes titleSlideIn {
  0% {
    margin-left: 100%;
    opacity: 0;
    width: 100%; }
  50% {
    margin-left: 20%;
    opacity: 0.5;
    width: 150%; }
  100% {
    margin-left: 0;
    opacity: 1;
    width: 100%; } }
    header .header-title h1 {
      font-weight: 100;
      font-size: 1.5rem;
      letter-spacing: 2px; }
    header .header-title h2 {
      font-family: "Allura", sans-serif;
      color: #d1bf60;
      font-weight: 100;
      font-size: 2.5rem;
      letter-spacing: 8px; }
    header .header-title p {
      letter-spacing: 2px;
      padding-top: 40px;
      text-transform: uppercase;
      font-size: 0.8rem;
      line-height: 1.5rem; }

nav {
  margin: 0 auto; }
  nav .nav-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px; }
    nav .nav-top .nav-top-left,
    nav .nav-top .nav-top-right {
      display: flex;
      justify-content: space-evenly;
      width: 20%; }
    nav .nav-top .nav-top-left {
      text-transform: uppercase;
      font-size: 0.8rem; }
      nav .nav-top .nav-top-left a:hover {
        color: #d1bf60; }
    nav .nav-top .nav-top-right a {
      transition: 0.5s ease; }
      nav .nav-top .nav-top-right a:hover {
        transform: scale(1.5); }
    nav .nav-top .nav-logo {
      transition: 1s ease-in-out; }
      nav .nav-top .nav-logo:hover {
        transform: scale(1.2); }
  nav .nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    height: 40px; }
    nav .nav-footer a {
      text-transform: uppercase;
      font-size: 0.8rem; }
      nav .nav-footer a:hover {
        color: #d1bf60; }

.section1 {
  width: 90%;
  margin: 0 auto; }
  .section1 h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 14px;
    text-align: center;
    margin: 60px auto;
    position: relative;
    animation: s1-title 2s linear; }
    .section1 h2:before, .section1 h2:after {
      content: "";
      height: 1px;
      background: #fff;
      width: 25%;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    .section1 h2:before {
      left: 0; }
    .section1 h2:after {
      right: 0; }
@keyframes s1-title {
  0% {
    opacity: 0;
    font-size: 2rem; }
  50% {
    opacity: 0.5;
    font-size: 3.5rem; }
  100% {
    opacity: 1; } }
  .section1 .items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 30px;
    margin: 0 auto; }
    .section1 .items-container .item {
      background: #fff;
      height: 500px;
      text-transform: uppercase;
      text-align: center; }
      .section1 .items-container .item .item-img {
        padding: 10px; }
        .section1 .items-container .item .item-img img {
          border: 1px solid #000000; }
      .section1 .items-container .item h5 {
        letter-spacing: 3px;
        font-size: 1.5rem;
        font-weight: 100; }
      .section1 .items-container .item p {
        letter-spacing: 2px;
        padding: 7px;
        margin-bottom: 30px; }
      .section1 .items-container .item .btn {
        color: #000;
        letter-spacing: 2px;
        border: 1px solid grey;
        padding: 10px;
        margin: 40px 0; }
        .section1 .items-container .item .btn:hover {
          background: #000;
          color: #fff;
          font-weight: 800; }

.section2 {
  margin: 100px auto;
  height: 140px; }
  .section2 .section2-content {
    display: flex;
    justify-content: space-evenly;
    text-align: center; }
    .section2 .section2-content i {
      font-size: 2rem;
      margin-bottom: 20px;
      color: #fff; }
    .section2 .section2-content h4, .section2 .section2-content p {
      color: #fff; }

/*# sourceMappingURL=index.css.map */
