header {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 80vh;
  margin: 40px auto;
  width: 90%;

  .header-img {
    background: url(../img/banner.jpg) center/cover;
    margin: 0 30px;
    animation: imgAnim 5s linear 0s 1;

    @keyframes imgAnim {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .header-title {
    color: $white1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: titleSlideIn 4s linear 0s 1;

    @keyframes titleSlideIn {

      0% {
        margin-left: 100%;
        opacity: 0;
        width: 100%;
      }
      50% {
        margin-left: 20%;
        opacity: 0.5;
        width: 150%;
      }
      100% {
        margin-left: 0;
        opacity: 1;
        width: 100%;
      }
    }

    h1 {
      font-weight: 100;
      font-size: 1.5rem;
      letter-spacing: 2px;

    }

    h2 {
      font-family: $font-allura;
      color: $gold;
      font-weight: 100;
      font-size: 2.5rem;
      letter-spacing: 8px;
    }

    p {
      letter-spacing: 2px;
      padding-top: 40px;
      text-transform: uppercase;
      font-size: 0.8rem;
      line-height: 1.5rem;
    }
  }
}
