.section2 {
  margin: 100px auto;
  height: 140px;

  .section2-content {
    display: flex;
    justify-content: space-around;


    div {
      text-align: center;
      i {
        font-size: 2rem;
        margin-bottom: 20px;
        color: $white1;
      }

      h4 {
        color: $gold;
        text-transform: uppercase;
      }

      p {
        color: $white1;
        text-align: center;
      }

      h4 {
        padding-bottom: 7px;
      }

    }
  }
}