.section1 {
  width: 90%;
  margin: 60px auto;

  h2 {
    color: $gold;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 14px;
    text-align: center;
    margin: 60px auto;
    position: relative;
    animation: s1-title 2s linear 0s 1;

    @keyframes s1-title {
      0% {
        opacity: 0;
        font-size: 2rem;
      }
      50% {
        opacity: 0.5;
        font-size: 3.5rem;
      }

      100% {
        opacity: 1;
      }
    }
  }

  .items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 30px;
    margin: 0 auto;

    .item {
      background: $white1;
      height: 500px;
      text-transform: uppercase;
      text-align: center;

      .item-img {
        padding: 10px;

        img {
          border: 1px solid #000000;
        }
      }

      h5 {
        letter-spacing: 3px;
        font-size: 1.5rem;
        font-weight: 100;
      }

      p {
        letter-spacing: 2px;
        padding: 7px;
        margin-bottom: 30px;
      }

      .btn {
        color: $black1;
        letter-spacing: 2px;
        border: 1px solid grey;
        padding: 10px;
        margin: 40px 0;

        &:hover {
          background: #000;
          color: $white1;
          font-weight: 800;
        }
      }
    }
  }
}