.section1 {
  width: 90%;
  margin: 0 auto;

  h2 {
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 14px;
    text-align: center;
    margin: 60px auto;
    position: relative;
    animation: s1-title 8s linear;

    @keyframes s1-title {
      from {
        transform: scaleX(0);
        opacity: 0;
      }

      to {
        transform: scaleX(1);
      }
    }
  }

  .items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 30px;
    margin: 0 auto;

    .item {
      background: $white1;
      height: 600px;
      text-transform: uppercase;
      text-align: center;
      border: 1px solid #848383;

      .item-img {
        padding: 10px;

        img {
          border: 1px solid #000000;
        }
      }

      h5 {
        letter-spacing: 3px;
        font-size: 1.5rem;
        font-weight: 100;
        color: $black1;
      }

      p {
        letter-spacing: 2px;
        padding: 7px;
        margin-bottom: 30px;
      }

      .btn {
        color: $black1;
        letter-spacing: 2px;
        border: 1px solid grey;
        padding: 10px;
        margin: 40px 0;

        &:hover {
          background: #000;
          color: $gold;
          font-weight: 800;
        }
      }
    }
  }
}