footer {
  margin: 30px auto;

  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;
    }

    div {
      margin: 0 auto;

      @media screen and (max-width: 768px) {
        font-size: 0.7rem;
      }

      h4 {
        text-transform: uppercase;
        padding-bottom: 15px;
        letter-spacing: 2px;
        font-size: 0.8rem;
        color: $gold;

      }

      a {
        letter-spacing: 1px;
        line-height: 24px;
        color: #a09f9f;

        &:hover {
          color: $white1;
        }
      }
    }

    .mid-part {
      display: none;

      .social-networks {
        padding-bottom: 20px;

        ul {
          display: flex;
          justify-content: flex-start;

          li {
            padding-right: 20px;
          }

          i {
            font-size: 1.2rem;

            &:hover {
              font-weight: 600;
            }

            @media screen and (max-width: 768px) {
              font-size: 1rem;
            }
          }
        }

      }
    }

    @media screen and (max-width: 768px) {
      .right-part {
        margin: 0 auto;
        position: relative;
        left: 50%;
      }
    }
  }
}