header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: 90%;
  margin: 0 auto;

  @media screen and (max-width: 930px) {
    height: 100vh;
    width: 75%;
  }
  @media screen and (max-width: 768px) {
    height: 70vh;
  }
  @media screen and (max-width: 600px) {
    height: 50vh;
  }

  .header_img img {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

    @media screen and (max-width: 930px) {
      width: 200px;
      height: 200px;
    }

    @media screen and (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }

  .header-title {
    color: $white2;
    text-align: center;
    padding: 20px 0;

    h1 {
      font-weight: 100;
      font-size: 1.5rem;
      letter-spacing: 2px;
      -webkit-text-size-adjust: auto;
      padding-bottom: 7px;

      @media screen and (max-width: 930px) {
        font-size: 1.2rem;
        padding-top: 20px;
      }

      @media screen and (max-width: 768px) {
        font-size: 0.9rem;
        padding-top: 20px;
      }
    }

    h2 {
      font-family: $font-allura;
      font-weight: 500;
      font-size: 2.5rem;
      letter-spacing: 6px;
      color: $gold;
      -webkit-text-size-adjust: auto;

      @media screen and (max-width: 930px) {
        font-size: 2rem;
        padding-top: 7px;
      }
      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
        padding-top: 7px;
      }
    }
  }

  .header_foo {

    p {
      letter-spacing: 2px;
      text-transform: uppercase;
      line-height: 1.5rem;
      text-align: justify;
      -webkit-text-size-adjust: auto;
      width: 50%;
      margin: 0 auto;

      @media screen and (max-width: 930px) {
        line-height: 1.2rem;
        font-size: 0.8rem;
        padding-bottom: 20px;
      }

      @media screen and (max-width: 768px) {
        font-size: 0.6rem;
        width: 75%;
      }

      @media screen and (max-width: 600px) {
        font-size: 0.6rem;
        width: 85%;
      }

    }

  }
}
