nav {
  justify-content: center;
}

main {
  .item-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 90%;
    margin: 0 auto;

    @media (max-width: 900px) {
      display: block;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .item-description {
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
        text-transform: uppercase;
        color: $gold;
        letter-spacing: 6px;
        font-size: 4vw;

        @media (max-width: 900px) {
          padding: 10px 0;
        }

        @media (max-width: 768px) {
          padding: 10px 0;
        }
      }

      p {
        font-size: 2vw;
        line-height: 3rem;
        text-align: left;

        @media (max-width: 900px) {
          line-height: 2rem;
        }

        @media (max-width: 768px) {
          padding-bottom: 20px;
          font-size: 3vw;
        }
      }

      .item-selection {
        table {
          font-size: 1.5vw;

          td {
            padding: 7px;

            input {
              display: inline-block;
              vertical-align: middle;
              width: 1.2rem;
              height: 1.2rem;
              accent-color: $gold;

              @media (max-width: 768px) {
                width: 1rem;
                height: 1rem;
              }
            }
          }

          input {
            display: inline-block;
            vertical-align: middle;
            width: 1.2rem;
            height: 1.2rem;
            accent-color: $gold;
          }

          .add_to_cart_variants_price {
            position: relative;

            &::before {
              content: "";
              width: 1px;
              background: #ffffff;
              top: 0.5rem;
              bottom: 0.5rem;
              left: 0;
              position: absolute;
            }
          }

          @media (max-width: 900px) {
            padding-bottom: 20px;
            font-size: 2vw;
          }
        }
      }

      .add_to_cart_qty_selection {
        @media (max-width: 900px) {
          padding: 20px;
        }

        label {
          padding: 10px;
          text-transform: uppercase;
        }

        input[type="number"] {
          width: 100px;
          text-align: center;
          padding: 5px;
          margin: 10px;
          font-size: 1rem;
          background: none;
          color: $white1;
          border: 1px solid $white2;
        }
      }

      button {
        text-transform: uppercase;
        font-size: 1.5rem;
        background: none;
        padding: 10px 20px;
        width: 100%;
        color: $white1;
        letter-spacing: 2px;
        cursor: pointer;
        border: 1px solid $white2;

        &:hover {
          color: $gold;
        }

        @media (max-width: 768px) {
          font-size: 1rem;
          padding: 10px;
        }
      }
    }
  }
}
