nav > :first-child {
  font-family: $font-allura;
  font-weight: 100;
  color: $gold;
  width: 300px;
  font-size: 1.7rem;
  text-transform: initial;
  letter-spacing: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 150px;
  width: 80%;

  a:not(nav>a) {
    text-transform: uppercase;
    font-size: 1rem;
  }

  a {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
  }


  .left-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;

    a {
      color: $white2;

      &:hover {
        color: $white1;
      }
    }

    i {
      padding-left: 7px;
    }
  }

  .right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

    img {
      height: 16px;
      width: 16px;
    }

    a {
      padding: 0 10px;
      text-transform: uppercase;
      font-size: 1.2rem;

      &:hover {
        transform: scale(1.2);
      }

      i {
        padding-left: 5px;
      }
    }

  }

  #icons {
    display: none;
    cursor: pointer;
  }

  @media (max-width: 930px) {
    .right-nav, .left-nav {
      a {
        font-size: 0.8rem;
      }
    }
  }

  @media (max-width: 768px) {

    margin-bottom: 30px;

    #icons {
      display: block;

      &::before {
        content: "\2630";
      }
    }

    .left-nav {
      position: fixed;
      flex-direction: column;
      left: -100%;
      top: 100px;
      width: 25%;
      background: $gold;

      a {
        font-size: 0.5rem;
        padding: 5px;
        color: #000000;
      }
    }
    .active {
      left: 30%;
    }
    .right-nav {
      display: none;
    }

  }
}