.section2 {
  margin: 100px auto;

  @media screen and (max-width: 920px) {
    margin: 50px auto;
  }

  .s2-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 4fr));
    margin: 0 auto;
    width: 90%;
    text-align: center;

    @media screen and (max-width: 768px) {
      grid-template-columns: 50% 50%;

      div {
        padding: 20px;
      }
    }

    i {
      font-size: 2rem;
      margin-bottom: 20px;
      color: #fff;

      @media screen and (max-width: 920px) {
        font-size: 1.5rem;
      }
    }

    h4 {
      text-transform: uppercase;
      padding-bottom: 7px;
      color: $white1;
      letter-spacing: 1px;

      @media screen and (max-width: 920px) {
        font-size: 0.8rem;
      }
    }

    p {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      font-size: 0.8rem;
      color: $white2;
      letter-spacing: 1px;

      @media screen and (max-width: 920px) {
        font-size: 0.6rem;
      }
    }
  }
}